div.AnimatedStructure {
  width: 100%;
  overflow: hidden;
  margin: 0;
  height: 110vh;
  perspective: 30em;
  /*background-image: linear-gradient(#5A8570, #6E8471);*/
  background-color: #001829;
  position: relative;
  top: 0vh;
}
div.AnimatedStructure h2 {
  font-size: 60px;
  color: blue;
  visibility: hidden;
}
div.MiniModel {
  position: fixed;
  top: .8em;
  right: 2%;
  height: 5em;
  width: 7em;
  z-index: 20;
  overflow: visible;
  perspective: 30em;
}
div.MiniModel > .assembly {
  zoom: .14;
}
.assembly{
  zoom: .8;
  transform: rotateX(0deg);
  animation: spinIt 110s linear infinite;
}
.assembly, .assembly *{
  position: absolute;
  top: 40%;
  left: 50%;
  transform-style: preserve-3d;
}
.builder .beam_face{
  background: #3D544C;
}
.builderMini .beam_face {
  background: #692B1F;
}

.builder .beam_face:nth-child(n+5) {
  background: #495E54;
}
.builderMini .beam_face:nth-child(n+5) {
  background: #5F281C;
}
.builder:nth-child(1) .firstPosition {transform: rotateZ(306deg) translateZ(13em) translateX(4em) translateY(19em);}
.builder:nth-child(2) .firstPosition {transform: rotateZ(168deg) translateZ(18em) translateX(4em) translateY(3em);}
.builder:nth-child(3) .firstPosition {transform: rotateZ(169deg) translateZ(16em) translateX(5em) translateY(15em);}
.builder:nth-child(4) .firstPosition {transform: rotateZ(49deg) translateZ(14em) translateX(4em) translateY(11em);}
.builder:nth-child(5) .firstPosition {transform: rotateZ(330deg) translateZ(2em) translateX(1em) translateY(9em);}
.builder:nth-child(6) .firstPosition {transform: rotateZ(332deg) translateZ(16em) translateX(18em) translateY(12em);}
.builder:nth-child(7) .firstPosition {transform: rotateZ(242deg) translateZ(15em) translateX(3em) translateY(4em);}
.builder:nth-child(8) .firstPosition {transform: rotateZ(302deg) translateZ(2em) translateX(19em) translateY(7em);}
.builder:nth-child(9) .firstPosition {transform: rotateZ(351deg) translateZ(1em) translateX(5em) translateY(19em);}
.builder:nth-child(10) .firstPosition {transform: rotateZ(218deg) translateZ(17em) translateX(3em) translateY(14em);}
.builder:nth-child(11) .firstPosition {transform: rotateZ(88deg) translateZ(14em) translateX(7em) translateY(6em);}
.builder:nth-child(12) .firstPosition {transform: rotateZ(186deg) translateZ(12em) translateX(8em) translateY(8em);}
.builder:nth-child(13) .firstPosition {transform: rotateZ(39deg) translateZ(5em) translateX(16em) translateY(4em);}
.builder:nth-child(14) .firstPosition {transform: rotateZ(86deg) translateZ(17em) translateX(10em) translateY(1em);}
.builder:nth-child(15) .firstPosition {transform: rotateZ(89deg) translateZ(1em) translateX(3em) translateY(13em);}
.builder:nth-child(16) .firstPosition {transform: rotateZ(272deg) translateZ(9em) translateX(9em) translateY(5em);}
.builder:nth-child(17) .firstPosition {transform: rotateZ(339deg) translateZ(13em) translateX(4em) translateY(1em);}
.builder:nth-child(18) .firstPosition {transform: rotateZ(264deg) translateZ(8em) translateX(1em) translateY(3em);}
.builder:nth-child(19) .firstPosition {transform: rotateZ(139deg) translateZ(3em) translateX(7em) translateY(7em);}
.builder:nth-child(20) .firstPosition {transform: rotateZ(313deg) translateZ(15em) translateX(0em) translateY(15em);}
.builder:nth-child(21) .firstPosition {transform: rotateZ(296deg) translateZ(12em) translateX(7em) translateY(13em);}
.builder:nth-child(22) .firstPosition {transform: rotateZ(138deg) translateZ(1em) translateX(4em) translateY(4em);}
.builder:nth-child(23) .firstPosition {transform: rotateZ(35deg) translateZ(13em) translateX(14em) translateY(16em);}
.builder:nth-child(24) .firstPosition {transform: rotateZ(187deg) translateZ(19em) translateX(16em) translateY(14em);}
.builder:nth-child(25) .firstPosition {transform: rotateZ(79deg) translateZ(19em) translateX(9em) translateY(11em);}
.builder:nth-child(26) .firstPosition {transform: rotateZ(258deg) translateZ(17em) translateX(7em) translateY(18em);}
.builder:nth-child(27) .firstPosition {transform: rotateZ(256deg) translateZ(11em) translateX(0em) translateY(17em);}
.builder:nth-child(28) .firstPosition {transform: rotateZ(141deg) translateZ(9em) translateX(14em) translateY(4em);}
.builder:nth-child(29) .firstPosition {transform: rotateZ(150deg) translateZ(15em) translateX(16em) translateY(16em);}
.builder:nth-child(30) .firstPosition {transform: rotateZ(253deg) translateZ(4em) translateX(8em) translateY(2em);}
.builder:nth-child(31) .firstPosition {transform: rotateZ(143deg) translateZ(3em) translateX(6em) translateY(1em);}
.builder:nth-child(32) .firstPosition {transform: rotateZ(242deg) translateZ(10em) translateX(1em) translateY(0em);}
.builder:nth-child(33) .firstPosition {transform: rotateZ(286deg) translateZ(17em) translateX(16em) translateY(9em);}
.builder:nth-child(34) .firstPosition {transform: rotateZ(359deg) translateZ(1em) translateX(4em) translateY(5em);}
.builder:nth-child(35) .firstPosition {transform: rotateZ(10deg) translateZ(9em) translateX(6em) translateY(0em);}
.builder:nth-child(36) .firstPosition {transform: rotateZ(215deg) translateZ(10em) translateX(1em) translateY(0em);}
.builder:nth-child(37) .firstPosition {transform: rotateZ(127deg) translateZ(5em) translateX(5em) translateY(6em);}
.builder:nth-child(38) .firstPosition {transform: rotateZ(331deg) translateZ(17em) translateX(10em) translateY(7em);}
.builder:nth-child(39) .firstPosition {transform: rotateZ(227deg) translateZ(19em) translateX(8em) translateY(11em);}
.builder:nth-child(40) .firstPosition {transform: rotateZ(135deg) translateZ(6em) translateX(5em) translateY(16em);}
.builder:nth-child(41) .firstPosition {transform: rotateZ(260deg) translateZ(0em) translateX(5em) translateY(2em);}

.builder:nth-child(1) div, .builderMini:nth-child(1) div {
}
.builder:nth-child(1), .builderMini:nth-child(1) {
  transform: translateY(0.02em) translateZ(-14em) rotateX(90deg);
}/*
.builder:nth-child(1) .beamA {
  animation-delay: 0s;
}
.builder:nth-child(1) .beam_face {
  background: #542252;
}
.builder:nth-child(1) .beam_face:nth-child(n + 5) {
  background: #6699ff;
}*/
.builder:nth-child(2), .builderMini:nth-child(2) {
  transform: translateY(8em) translateX(-12.1em) translateZ(-14em) rotateX(90deg);
}/*
.builder:nth-child(2) .beamA {
  animation-delay: -0.07292s;
}
.builder:nth-child(2) .beam_face {
  background: #552251;
}
.builder:nth-child(2) .beam_face:nth-child(n + 5) {
  background: #6698fc;
}*/
.builder:nth-child(3), .builderMini:nth-child(3) {
  transform: translateY(8em) translateX(11.9em) translateZ(-14em) rotateX(90deg);
}/*
.builder:nth-child(3) .beamA {
  animation-delay: -0.14583s;
}
.builder:nth-child(3) .beam_face {
  background: #57234e;
}
.builder:nth-child(3) .beam_face:nth-child(n + 5) {
  background: #6894f3;
}*/
.builder:nth-child(4), .builderMini:nth-child(4) {
  transform: translateY(20em) translateX(-12.1em) translateZ(-14em) rotateX(90deg);
}/*
.builder:nth-child(4) .beamA {
  animation-delay: -0.21875s;
}
.builder:nth-child(4) .beam_face {
  background: #5a244a;
}
.builder:nth-child(4) .beam_face:nth-child(n + 5) {
  background: #6a8ee5;
}*/
.builder:nth-child(5), .builderMini:nth-child(5) {
  transform: translateY(20em) translateX(11.9em) translateZ(-14em) rotateX(90deg);
}/*
.builder:nth-child(5) .beamA {
  animation-delay: -0.29167s;
}
.builder:nth-child(5) .beam_face {
  background: #5f2644;
}
.builder:nth-child(5) .beam_face:nth-child(n + 5) {
  background: #6c86d2;
}*/
.builder:nth-child(6), .builderMini:nth-child(6) {
  transform: translateY(8em) rotateY(90deg) translateZ(-12em) translateX(13.98em) rotateX(90deg);
}/*
.builder:nth-child(6) .beamB {
  animation-delay: -0.36458s;
}
.builder:nth-child(6) .beam_face {
  background: #64273d;
}
.builder:nth-child(6) .beam_face:nth-child(n + 5) {
  background: #6f7cbd;
}*/
.builder:nth-child(7), .builderMini:nth-child(7) {
  transform: translateY(8em) rotateY(90deg) translateZ(-12em) translateX(-21.02em) rotateX(90deg);
}/*
.builder:nth-child(7) .beamB {
  animation-delay: -0.4375s;
}
.builder:nth-child(7) .beam_face {
  background: #692936;
}
.builder:nth-child(7) .beam_face:nth-child(n + 5) {
  background: #7272a6;
}*/
.builder:nth-child(8), .builderMini:nth-child(8) {
  transform: translateY(20em) rotateY(90deg) translateZ(-12em) translateX(14em) rotateX(90deg);
}/*
.builder:nth-child(8) .beamB {
  animation-delay: -0.51042s;
}
.builder:nth-child(8) .beam_face {
  background: #6e2b2f;
}
.builder:nth-child(8) .beam_face:nth-child(n + 5) {
  background: #75688e;
}*/
.builder:nth-child(9), .builderMini:nth-child(9) {
  transform: translateY(20em) rotateY(90deg) translateZ(-12em) translateX(-21em) rotateX(90deg);
}/*
.builder:nth-child(9) .beamB {
  animation-delay: -0.58333s;
}
.builder:nth-child(9) .beam_face {
  background: #742d28;
}
.builder:nth-child(9) .beam_face:nth-child(n + 5) {
  background: #785f79;
}*/
.builder:nth-child(10), .builderMini:nth-child(10) {
  transform: translateY(8em) translateX(11.9em) translateZ(-14.05em) rotateX(0deg);
}/*
.builder:nth-child(10) .beamC {
  animation-delay: -0.65625s;
}
.builder:nth-child(10) .beam_face {
  background: #782e22;
}
.builder:nth-child(10) .beam_face:nth-child(n + 5) {
  background: #7a5666;
}*/
.builder:nth-child(11), .builderMini:nth-child(11) {
  transform: translateY(8em) translateX(-12.1em) translateZ(-14.05em) rotateX(0deg);
}/*
.builder:nth-child(11) .beamC {
  animation-delay: -0.72917s;
}
.builder:nth-child(11) .beam_face {
  background: #7b2f1e;
}
.builder:nth-child(11) .beam_face:nth-child(n + 5) {
  background: #7c5058;
}*/
.builder:nth-child(12), .builderMini:nth-child(12) {
  transform: translateY(8em) translateX(11.9em) translateZ(-7.05em) rotateX(0deg);
}/*
.builder:nth-child(12) .beamC {
  animation-delay: -0.80208s;
}
.builder:nth-child(12) .beam_face {
  background: #7d301b;
}
.builder:nth-child(12) .beam_face:nth-child(n + 5) {
  background: #7e4c4f;
}*/
.builder:nth-child(13), .builderMini:nth-child(13) {
  transform: translateY(8em) translateX(-12.1em) translateZ(-7.05em) rotateX(0deg);
}/*
.builder:nth-child(13) .beamC {
  animation-delay: -0.875s;
}
.builder:nth-child(13) .beam_face {
  background: #7e301a;
}
.builder:nth-child(13) .beam_face:nth-child(n + 5) {
  background: #7e4b4c;
}*/
.builder:nth-child(14), .builderMini:nth-child(14) {
  transform: translateY(8em) translateX(11.9em) translateZ(-.05em) rotateX(0deg);
}/*
.builder:nth-child(14) .beamC {
  animation-delay: -0.94792s;
}
.builder:nth-child(14) .beam_face {
  background: #7d301b;
}
.builder:nth-child(14) .beam_face:nth-child(n + 5) {
  background: #7e4c4f;
}*/
.builder:nth-child(15), .builderMini:nth-child(15) {
  transform: translateY(8em) translateX(-12.1em) translateZ(-.05em) rotateX(0deg);
}/*
.builder:nth-child(15) .beamC {
  animation-delay: -1.02083s;
}
.builder:nth-child(15) .beam_face {
  background: #7b2f1e;
}
.builder:nth-child(15) .beam_face:nth-child(n + 5) {
  background: #7c5058;
}*/
.builder:nth-child(16), .builderMini:nth-child(16) {
  transform: translateY(8em) translateX(11.9em) translateZ(6.95em) rotateX(0deg);
}/*
.builder:nth-child(16) .beamC {
  animation-delay: -1.09375s;
}
.builder:nth-child(16) .beam_face {
  background: #782e22;
}
.builder:nth-child(16) .beam_face:nth-child(n + 5) {
  background: #7a5666;
}*/
.builder:nth-child(17), .builderMini:nth-child(17) {
  transform: translateY(8em) translateX(-12.1em) translateZ(6.95em) rotateX(0deg);
}/*
.builder:nth-child(17) .beamC {
  animation-delay: -1.16667s;
}
.builder:nth-child(17) .beam_face {
  background: #742d28;
}
.builder:nth-child(17) .beam_face:nth-child(n + 5) {
  background: #785f79;
}*/
.builder:nth-child(18), .builderMini:nth-child(18) {
  transform: translateY(8em) translateX(11.9em) translateZ(13.95em) rotateX(0deg);
}/*
.builder:nth-child(18) .beamC {
  animation-delay: -1.23958s;
}
.builder:nth-child(18) .beam_face {
  background: #6e2b2f;
}
.builder:nth-child(18) .beam_face:nth-child(n + 5) {
  background: #75688e;
}*/
.builder:nth-child(19), .builderMini:nth-child(19) {
  transform: translateY(8em) translateX(-12.1em) translateZ(13.95em) rotateX(0deg);
}/*
.builder:nth-child(19) .beamC {
  animation-delay: -1.3125s;
}
.builder:nth-child(19) .beam_face {
  background: #692936;
}
.builder:nth-child(19) .beam_face:nth-child(n + 5) {
  background: #7272a6;
}*/
.builder:nth-child(20), .builderMini:nth-child(20) {
  transform: translateY(8em) translateX(11.9em) translateZ(20.95em) rotateX(0deg);
}/*
.builder:nth-child(20) .beamC {
  animation-delay: -1.38542s;
}
.builder:nth-child(20) .beam_face {
  background: #64273d;
}
.builder:nth-child(20) .beam_face:nth-child(n + 5) {
  background: #6f7cbd;
}*/
.builder:nth-child(21), .builderMini:nth-child(21) {
  transform: translateY(8em) translateX(-12.1em) translateZ(20.95em) rotateX(0deg);
}/*
.builder:nth-child(21) .beamC {
  animation-delay: -1.45833s;
}
.builder:nth-child(21) .beam_face {
  background: #5f2644;
}
.builder:nth-child(21) .beam_face:nth-child(n + 5) {
  background: #6c86d2;
}*/
.builder:nth-child(22), .builderMini:nth-child(22) {
  transform: translateY(4.65em) translateX(6.9em) translateZ(20.9em) rotateX(0deg);
}/*
.builder:nth-child(22) .beamC {
  animation-delay: -1.53125s;
}
.builder:nth-child(22) .beam_face {
  background: #5a244a;
}
.builder:nth-child(22) .beam_face:nth-child(n + 5) {
  background: #6a8ee5;
}*/
.builder:nth-child(23), .builderMini:nth-child(23) {
  transform: translateY(4.65em) translateX(-7.1em) translateZ(20.9em) rotateX(0deg);
}/*
.builder:nth-child(23) .beamC {
  animation-delay: -1.60417s;
}
.builder:nth-child(23) .beam_face {
  background: #57234e;
}
.builder:nth-child(23) .beam_face:nth-child(n + 5) {
  background: #6894f3;
}*/
.builder:nth-child(24), .builderMini:nth-child(24) {
  transform: translateY(4.65em) translateX(6.9em) translateZ(-14.08em) rotateX(0deg);
}/*
.builder:nth-child(24) .beamC {
  animation-delay: -1.67708s;
}
.builder:nth-child(24) .beam_face {
  background: #552251;
}
.builder:nth-child(24) .beam_face:nth-child(n + 5) {
  background: #6698fc;
}*/
.builder:nth-child(25), .builderMini:nth-child(25) {
  transform: translateY(4.65em) translateX(-7.1em) translateZ(-14.08em) rotateX(0deg);
}/*
.builder:nth-child(25) .beamC {
  animation-delay: -1.67708s;
}
.builder:nth-child(25) .beam_face {
  background: #552251;
}
.builder:nth-child(25) .beam_face:nth-child(n + 5) {
  background: #6698fc;
}*/
.builder:nth-child(26), .builderMini:nth-child(26) {
  transform: translateY(-.1em) rotateY(90deg) rotateX(56.6deg) translateX(13.95em) translateZ(-.1em);
}/*
.builder:nth-child(26) .beamD {
  animation-delay: -0.65625s;
}
.builder:nth-child(26) .beam_face {
  background: #782e22;
}
.builder:nth-child(26) .beam_face:nth-child(n + 5) {
  background: #7a5666;
}*/
.builder:nth-child(27), .builderMini:nth-child(27) {
  transform: translateY(-.1em) rotateY(-90deg) rotateX(56.6deg) translateX(-14.15em) translateZ(-.1em);
}/*
.builder:nth-child(27) .beamD {
  animation-delay: -0.72917s;
}
.builder:nth-child(27) .beam_face {
  background: #7b2f1e;
}
.builder:nth-child(27) .beam_face:nth-child(n + 5) {
  background: #7c5058;
}*/
.builder:nth-child(28), .builderMini:nth-child(28) {
  transform: translateY(-.1em) rotateY(90deg) rotateX(56.6deg) translateX(6.95em) translateZ(-.1em);
}/*
.builder:nth-child(28) .beamD {
  animation-delay: -0.80208s;
}
.builder:nth-child(28) .beam_face {
  background: #7d301b;
}
.builder:nth-child(28) .beam_face:nth-child(n + 5) {
  background: #7e4c4f;
}*/
.builder:nth-child(29), .builderMini:nth-child(29) {
  transform: translateY(-.1em) rotateY(-90deg) rotateX(56.6deg) translateX(-7.15em) translateZ(-.1em);
}/*
.builder:nth-child(29) .beamD {
  animation-delay: -0.875s;
}
.builder:nth-child(29) .beam_face {
  background: #7e301a;
}
.builder:nth-child(29) .beam_face:nth-child(n + 5) {
  background: #7e4b4c;
}*/
.builder:nth-child(30), .builderMini:nth-child(30) {
  transform: translateY(-.1em) rotateY(90deg) rotateX(56.6deg) translateX(-.05em) translateZ(-.1em);
}/*
.builder:nth-child(30) .beamD {
  animation-delay: -0.94792s;
}
.builder:nth-child(30) .beam_face {
  background: #7d301b;
}
.builder:nth-child(30) .beam_face:nth-child(n + 5) {
  background: #7e4c4f;
}*/
.builder:nth-child(31), .builderMini:nth-child(31) {
  transform: translateY(-.1em) rotateY(-90deg) rotateX(56.6deg) translateX(-.15em) translateZ(-.1em);
}/*
.builder:nth-child(31) .beamD {
  animation-delay: -1.02083s;
}
.builder:nth-child(31) .beam_face {
  background: #7b2f1e;
}
.builder:nth-child(31) .beam_face:nth-child(n + 5) {
  background: #7c5058;
}*/
.builder:nth-child(32), .builderMini:nth-child(32) {
  transform: translateY(-.1em) rotateY(90deg) rotateX(56.6deg) translateX(-7.05em) translateZ(-.1em);
}/*
.builder:nth-child(32) .beamD {
  animation-delay: -1.09375s;
}
.builder:nth-child(32) .beam_face {
  background: #782e22;
}
.builder:nth-child(32) .beam_face:nth-child(n + 5) {
  background: #7a5666;
}*/
.builder:nth-child(33), .builderMini:nth-child(33) {
  transform: translateY(-.1em) rotateY(-90deg) rotateX(56.6deg) translateX(6.85em) translateZ(-.1em);
}/*
.builder:nth-child(33) .beamD {
  animation-delay: -1.16667s;
}
.builder:nth-child(33) .beam_face {
  background: #742d28;
}
.builder:nth-child(33) .beam_face:nth-child(n + 5) {
  background: #785f79;
}*/
.builder:nth-child(34), .builderMini:nth-child(34) {
  transform: translateY(-.1em) rotateY(90deg) rotateX(56.6deg) translateX(-14.05em) translateZ(-.1em);
}/*
.builder:nth-child(34) .beamD {
  animation-delay: -1.23958s;
}
.builder:nth-child(34) .beam_face {
  background: #6e2b2f;
}
.builder:nth-child(34) .beam_face:nth-child(n + 5) {
  background: #75688e;
}*/
.builder:nth-child(35), .builderMini:nth-child(35) {
  transform: translateY(-.1em) rotateY(-90deg) rotateX(56.6deg) translateX(13.85em) translateZ(-.1em);
}/*
.builder:nth-child(35) .beamD {
  animation-delay: -1.3125s;
}
.builder:nth-child(35) .beam_face {
  background: #692936;
}
.builder:nth-child(35) .beam_face:nth-child(n + 5) {
  background: #7272a6;
}*/
.builder:nth-child(36), .builderMini:nth-child(36) {
  transform: translateY(-.1em) rotateY(90deg) rotateX(56.6deg) translateX(-21.05em) translateZ(-.1em);
}/*
.builder:nth-child(36) .beamD {
  animation-delay: -1.38542s;
}
.builder:nth-child(36) .beam_face {
  background: #64273d;
}
.builder:nth-child(36) .beam_face:nth-child(n + 5) {
  background: #6f7cbd;
}*/
.builder:nth-child(37), .builderMini:nth-child(37) {
  transform: translateY(-.1em) rotateY(-90deg) rotateX(56.6deg) translateX(20.85em) translateZ(-.1em);
}/*
.builder:nth-child(37) .beamD {
  animation-delay: -1.45833s;
}
.builder:nth-child(37) .beam_face {
  background: #5f2644;
}
.builder:nth-child(37) .beam_face:nth-child(n + 5) {
  background: #6c86d2;
}*/
.builder:nth-child(38), .builderMini:nth-child(38) {
  transform: translateY(4em) translateZ(7em) translateX(6.05em) rotateX(90deg);
}/*
.builder:nth-child(38) .beamD {
  animation-delay: -1.45833s;
}
.builder:nth-child(38) .beam_face {
  background: #5f2644;
}
.builder:nth-child(38) .beam_face:nth-child(n + 5) {
  background: #6c86d2;
}*/
.builder:nth-child(39), .builderMini:nth-child(39) {
  transform: translateY(4em) translateZ(7em) translateX(-6.25em) rotateX(90deg);
}/*
.builder:nth-child(39) .beamD {
  animation-delay: -1.45833s;
}
.builder:nth-child(39) .beam_face {
  background: #5f2644;
}
.builder:nth-child(39) .beam_face:nth-child(n + 5) {
  background: #6c86d2;
}*/
.builder:nth-child(40), .builderMini:nth-child(40) {
  transform: translateY(4em) translateZ(-7em) translateX(6.05em) rotateX(90deg);
}/*
.builder:nth-child(40) .beamD {
  animation-delay: -1.45833s;
}
.builder:nth-child(40) .beam_face {
  background: #5f2644;
}
.builder:nth-child(40) .beam_face:nth-child(n + 5) {
  background: #6c86d2;
}*/
.builder:nth-child(41), .builderMini:nth-child(41) {
  transform: translateY(4em) translateZ(-7em) translateX(-6.25em) rotateX(90deg);
}/*
.builder:nth-child(41) .beamD {
  animation-delay: -1.45833s;
}
.builder:nth-child(41) .beam_face {
  background: #5f2644;
}
.builder:nth-child(41) .beam_face:nth-child(n + 5) {
  background: #6c86d2;
}*/

@keyframes spinIt {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

/*@keyframes rot {
  75%, 100% {
    transform: rotateX(-0.5turn);
  }
}
.prism {
  animation: rot 1.75s ease-in-out infinite;
}*/
.beamA > .beam_face {
  margin: 0em 0em;
  width: .22em;
  height: 35em;
  backface-visibility: hidden;
}
.beamB > .beam_face {
  margin: 0em 0em;
  width: .22em;
  height: 24em;
  backface-visibility: hidden;
}
.beamC > .beam_face {
  margin: 0em 0em;
  width: .22em;
  height: 12em;
  backface-visibility: hidden;
}
.beamD > .beam_face {
  margin: 0em 0em;
  width: .22em;
  height: 14.5em;
  backface-visibility: hidden;
}
.beamE > .beam_face {
  margin: 0em 0em;
  width: .22em;
  height: 7em;
  backface-visibility: hidden;
}
.beamF > .beam_face {
  margin: 0em 0em;
  width: .22em;
  height: 15.4em;
  backface-visibility: hidden;
}
.beam_face:nth-child(n + 5) {
  margin-top: -.1em;
  height: .2em;
}
.beam_face:nth-child(-n+4):nth-child(2n) {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
.beam_face:nth-child(1) {
  transform: rotateY(0deg) translateZ(0.1em);
}
.beam_face:nth-child(2) {
  transform: rotateY(90deg) translateZ(0.1em);
}
.beam_face:nth-child(3) {
  transform: rotateY(180deg) translateZ(0.1em);
}
.beam_face:nth-child(4) {
  transform: rotateY(270deg) translateZ(0.1em);
}
.beam_face:nth-child(5) {
  transform: rotateX(90deg) translateZ(0.02em);
}
.beamA > .beam_face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(34.9em);
}
.beamB > .beam_face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(23.95em);
}
.beamC > .beam_face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(11.95em);
}
.beamD > .beam_face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(14.46em);
}
.beamE > .beam_face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(6.94em);
}
.beamF > .beam_face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(15.35em);
}


